payment-system-swipe-backend/src/main/resources/wsdl/pos-transaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://za.co.itempay.paymentsystemswipe.backend.ws"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://za.co.itempay.paymentsystemswipe.backend.ws"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://za.co.itempay.paymentsystemswipe.backend.ws">
      <s:element name="POSPurchase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="terminal_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="merchant_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="POSAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="POSPurchaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="POSPurchaseResult" type="tns:POSRsp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="POSRsp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="POSPurchaseSoapIn">
    <wsdl:part name="parameters" element="tns:POSPurchase" />
  </wsdl:message>
  <wsdl:message name="POSPurchaseSoapOut">
    <wsdl:part name="parameters" element="tns:POSPurchaseResponse" />
  </wsdl:message>
  <wsdl:portType name="PosTransactionServiceSoap">
    <wsdl:operation name="POSPurchase">
      <wsdl:input message="tns:POSPurchaseSoapIn" />
      <wsdl:output message="tns:POSPurchaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PosTransactionServiceSoap" type="tns:PosTransactionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="POSPurchase">
      <soap:operation soapAction="http://za.co.itempay.paymentsystemswipe.backend.ws/POSPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PosTransactionServiceSoap12" type="tns:PosTransactionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="POSPurchase">
      <soap12:operation soapAction="http://za.co.itempay.paymentsystemswipe.backend.ws/POSPurchase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PosTransactionService">
    <wsdl:port name="PosTransactionServiceSoap" binding="tns:PosTransactionServiceSoap">
      <soap:address location="http://196.14.89.40/WS_TCC_POS/WS_TCC_POS.asmx" />
    </wsdl:port>
    <wsdl:port name="PosTransactionServiceSoap12" binding="tns:PosTransactionServiceSoap12">
      <soap12:address location="http://196.14.89.40/WS_TCC_POS/WS_TCC_POS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>